[Unit]
Description=Shadowsocks client mode service
Documentation=man:sslocal(1)
After=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
ExecStart=/usr/bin/sslocal -q -c /etc/shadowsocks/%i.json
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
